<div class="row">

  <nb-card class="col-md-12">
    <nb-card-header>
      Settings
    </nb-card-header>

    <nb-card-body>


      <div *ngFor="let settings_group of settings | keyvalue">
        <h4>{{settings_group.key}}</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="w-50">Setting</th>
              <th class="w-50">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let setting of settings_group.value">
              <td>
                <p>{{setting.name}}</p>
                <small>{{setting.instructions}}</small>
              </td>
              <td>
                
                <div *ngIf="setting.type == 'number' || setting.type == 'text'">
                  <input class="form-control" type="{{setting.type}}" [(ngModel)]="setting.value">
                </div>

                <div *ngIf="setting.type == 'textarea'">
                  <textarea class="form-control" [(ngModel)]="setting.value">
                  </textarea>
                </div>

                <div *ngIf="setting.type == 'image'">
                  <img *ngIf="setting['imageURL']" class="img-thumbnail" style="max-width: 200px;" [src]="setting['imageURL']" alt="Image">
                  <input class="form-control" type="file" accept="image/*" (change)="showImage($event, setting);">
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </nb-card-body>

    <nb-card-footer class="text-right">
      <button class="btn btn-primary" (click)="uploadImagesAndSubmitData()">Save</button>
    </nb-card-footer>

  </nb-card>


</div>
