<div class="row">
    <nb-card class="col-md-12">
      <!-- <nb-card-header>
        Order
      </nb-card-header> -->
      
      <nb-card-body>

        <div class="row">

          <div class="col-md-5 mb-2">
            <form #dataForm="ngForm" (ngSubmit)="onSubmit()">
              <!-- <pre> {{ data | json}}</pre> -->

              <div class="order-container">

                <div class="custom-scroll" style="max-height: 69vh; overflow: auto;">
                  <!-- order-type -->
                  <div class="field has-addons">
                    <div class="control">
                      <a class="button is-static is-small">
                        Order Type
                      </a>
                    </div>
                    <div class="control is-expanded">
                      <div class="select is-fullwidth is-small">
                        <select name="order_type_idt" [(ngModel)]="order.order_type_idt" #order_type_idt="ngModel" required>
                          <option value=""></option>
                          <option *ngFor="let orderType of settingsService.orderTypes" value="{{orderType.idt}}">
                            {{orderType.name}}
                          </option>
                        </select>
                        <validation [field]="order_type_idt" fieldName="Order Type"></validation>
                      </div>
                    </div>
                  </div>

    
                  <!-- dine-in -->
                  <div *ngIf="order_type_idt.value == 'di'">
                    <div class="field has-addons">
                      <div class="control">
                        <a class="button is-static is-small">
                          Guests
                        </a>
                      </div>
                      <div class="control is-expanded">
                        <input class="input is-small is-fullwidth" type="number" name="guests" [(ngModel)]="order.guests" #guests="ngModel" required>
                        <validation [field]="guests" fieldName="Guests"></validation>
                      </div>
                    </div>
    
                    <button type="button" class="button is-primary is-small" (click)="addTable()">Add Tables</button>
                    <div class="field has-addons" *ngFor="let table of order.tables; trackBy:identify; let i = index">
                      <div class="control is-expanded">
                        <div class="select is-fullwidth is-small has-addons">
                          <select name="order.tables{{i}}" [(ngModel)]="order.tables[i]">
                            <option *ngFor="let freeTable of freeTables" [ngValue]="freeTable">
                              Floor: {{freeTable.floor}} - Table: {{freeTable.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <button type="button" class="button is-danger is-small" (click)="removeTable(i)">x</button>
                      </div>
                    </div>
    
                  </div>
                  <!-- dine-in -->



                  <!-- take-away -->
                  <div *ngIf="order_type_idt.value == 'ta' || order_type_idt.value == 'wd' || order_type_idt.value == 'od'">

                      <div class="field has-addons">
                        <div class="control">
                          <a class="button is-static is-small">
                            Customer Name
                          </a>
                        </div>
                        <div class="control is-expanded">
                          <input class="input is-small is-fullwidth" type="text" name="customer_name" [(ngModel)]="order.customer_name" #customer_name="ngModel">
                          <validation [field]="customer_name" fieldName="Customer Name"></validation>
                        </div>
                      </div>

                  </div>
                  <!-- take-away -->

                  <!-- delivery -->
                  <div *ngIf="order_type_idt.value == 'wd' || order_type_idt.value == 'od'">

                      <div class="field has-addons">
                        <div class="control">
                          <a class="button is-static is-small">
                            Customer Phone
                          </a>
                        </div>
                        <div class="control is-expanded">
                          <input class="input is-small is-fullwidth" type="text" name="customer_phone" [(ngModel)]="order.customer_phone" #customer_phone="ngModel" required>
                          <validation [field]="customer_phone" fieldName="Customer Phone"></validation>
                        </div>
                      </div>

                      <div class="field has-addons">
                        <div class="control">
                          <a class="button is-static is-small">
                            Customer Address
                          </a>
                        </div>
                        <div class="control is-expanded">
                          <input class="input is-small is-fullwidth" type="text" name="customer_address" [(ngModel)]="order.customer_address" #customer_address="ngModel" required>
                          <validation [field]="customer_address" fieldName="Customer Address"></validation>
                        </div>
                      </div>

                      <div class="field has-addons">
                        <div class="control">
                          <a class="button is-static is-small">
                            Customer Zipcode
                          </a>
                        </div>
                        <div class="control is-expanded">
                          <input class="input is-small is-fullwidth" type="text" name="customer_zipcode" [(ngModel)]="order.customer_zipcode" #customer_zipcode="ngModel">
                          <validation [field]="customer_zipcode" fieldName="Customer Zipcode"></validation>
                        </div>
                      </div>

                  </div>
                  <!-- delivery -->


                  <br>
                  <order-items-amounts 
                    [order]="order" [small]="true">
                  </order-items-amounts>
                  <br>
                </div>

                <div >
                  <button class="button is-default is-pulled-left">Search Item</button>
                  <button type="submit" class="button is-info is-pulled-right" [disabled]="dataForm.invalid || submitting">Save</button>
                </div>
              </div>
              <!-- order-container -->

              
            </form>
          </div>

          <div class="col-md-7 d-none d-md-block">

              <categories-items-search></categories-items-search>
  
          </div>


        </div>
        
      </nb-card-body>
    </nb-card>
  </div>