// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

.maxwidth200 {
  max-width: 200px;
};

.shadow-normal {
  -webkit-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5 !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
  background-color: #F5F5F5 !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
  background-color: #555 !important;
}
