<div class="modal {{ visibility == true ? 'is-active' : '' }}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head is-radiusless">
        <p class="modal-card-title">Order</p>
        <button class="delete" aria-label="close" (click)="setModalVisibility(false)"></button>
      </header>
      <section class="modal-card-body">
        
        <!-- {{order|json}} -->
        <checkout [order]="order" [orderTypeIdt]='wd' (orderSaved)="orderSaved()"></checkout>
        
  
      </section>
    </div>
  </div>