<app-slider></app-slider>

<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h4 class="title has-text-centered">Welcome to {{settingsService.getSettingFromArray('restaurant-name')}}</h4>
      <p class="has-text-justified">
          {{settingsService.getSettingFromArray('welcome-note')}}
      </p>
    </div>
  </div>
</section>

<section style="background-image: url('assets/images/hero.jpg'); background-repeat: none; background-size: cover; background-position: center;" class="hero">
  <div class="hero-body">
    <div style="background: rgba(255, 255, 255, 0.95)" class="container has-text-centered">
        <h4 class="subtitle">Fast Home Delivery or Phone and Collect</h4>

        <p class="has-text-danger">Opening Hours: {{openingHoursStart}} - {{openingHoursEnd}}</p>
        <p class="has-text-danger">Online Delivery Times: {{deliveryHoursStart}} - {{deliveryHoursEnd}}</p>

        <br>
        <p>Minimum Order: {{settingsService.getSettingFromArray('minimum-order-amount')}}</p>
        
        <br>
        <p>{{settingsService.getSettingFromArray('delivery-charges-note')}}</p>

        <p>Delivery areas are {{settingsService.getSettingFromArray('delivery-areas')}}</p>
    </div>
  </div>
</section>



<div *ngIf="loading">
  <loading></loading>
</div>
<section *ngIf="!loading" class="hero">
  <section class="hero-body">
    <div class="container">
        <h4 class="title has-text-centered">Our Menu</h4>

        <div class="columns">
          
          <div *ngFor="let category of categories" class="column">  
            <category-card class="pointer" [category]="category" (click)="menuClicked(category.name)"></category-card>
          </div>

        </div>

        <div class="buttons is-centered">
          <a class="button is-link is-rounded is-outlined" (click)="setMenuModalVisibility(true)">Explore Menu</a>
        </div>



    </div>
  </section>
</section>

<section class="section">

  <div class="container">
    <div class="columns">
      
      <!-- <div class="column">
        <b>Map Location</b>
        <map></map>
      </div> -->
  
  
      <div class="column is-2 has-text-centered"
      *ngIf="settingsService.getSettingFromArray('android-app-link') != null || settingsService.getSettingFromArray('iphone-app-link') != null">
        <p class="subtitle">Download App</p>
        <div *ngIf="settingsService.getSettingFromArray('android-app-link') != null">
          <a target="_blank" href="{{settingsService.getSettingFromArray('android-app-link')}}">
            <img src="assets/images/google-play-badge.png" alt="">
          </a>
        </div>
        <div *ngIf="settingsService.getSettingFromArray('iphone-app-link') != null">
          <a target="_blank" href="{{settingsService.getSettingFromArray('iphone-app-link')}}">
            <img style="margin:6%;width:88%" src="assets/images/app-store-badge.svg" alt="">
          </a>
        </div>
      </div>
  
  
      <div class="column">
          <div class="content" [innerHTML]="settingsService.getSettingFromArray('instructions')"></div>
      </div>
      <div class="column">
          <img src="assets/images/logo.png">

          <div class="has-text-centered">
            <p class="subtitle is-marginless">Address</p>
            <p>{{settingsService.getSettingFromArray('address')}}</p>

            <br>
            <p class="subtitle ">Call</p>
            <p class="title">{{settingsService.getSettingFromArray('telephone')}}</p>
          </div>

      </div>
    </div>
  </div>

</section>
