<section class="section">

  <div class="container">

    <div class="row">
  
      
      <p class="title is-4 has-text-centered">Contact Us:</p>
  
      <div class="columns">
  
        <div class="column is-half">
          <p class="title is-5">Address: </p>
          <p class="subtitle">Ismail Naeem, Daroghawala Lahore</p>
          
          <hr>
          <p class="title is-5">Email: </p>
          <p class="subtitle">ismail@devzone.com</p>
          
          <hr>
          <p class="title is-5">Telephone: </p>
          <p class="subtitle">0300-123456789</p>
        </div>
    
        <div class="column is-half">
          <map></map>
        </div>
  
      </div>
  
  
    </div>
    
    <br><br>
  
    
    <hr>
  
  
  </div>

</section>


