<div *ngIf="!settingsService.initialized">
    <div style="text-align: center">
        <b>Failed to load data! Please Check Internet Connection</b>
        <br>
        <button style="padding: 30px; margin: 20px" class="btn btn-primary" (click)="refresh()">Refresh</button>
    </div>
    <!-- or <app-config-error-page> -->
</div>
<div *ngIf="settingsService.initialized" #layoutContainer >
    <app-navbar></app-navbar>
    <nav2></nav2>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>