.field {
    margin-bottom: 0px !important;
}

.category {
    display: inline-block;
    border: 1px solid black;
}

.category img {
    width: 60px;
}


.item {
    display: inline-block;
    border: 1px solid black;
}

.item img {
    width: 60px;
}