<div class="field has-addons">
    <div class="control is-expanded">
      <input class="input is-small is-fullwidth" type="text" placeholder="Find Items">
    </div>
    <div class="control">
      <a class="button is-small">
        x
      </a>
    </div>
    <div class="control">
      <a class="button is-info text-white is-small">
        Search
      </a>
    </div>
  </div>

<div class="card mb-2">
  <div class="card-header bg-primary text-white p-1">Categories</div>
  <div class="card-body p-1">Content</div> 
</div>

<div class="card">
  <div class="card-header bg-primary text-white p-1">Items</div>
  <div class="card-body p-1">Content</div> 
</div>