

<div class="card mb-0">
  <div class="card-header bg-primary p-1">

    <span class="text-white mr-3">
      Categories
    </span>

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-small is-fullwidth" type="text" 
          placeholder="Search" [(ngModel)]="searchCategoryText" 
          (keyup)="searchCategory()">
      </div>
      <div class="control">
        <a class="button is-small" (click)="clearCategorySearch()">
          x
        </a>
      </div>
    </div>

  </div>
  
  <div class="card-body custom-scroll p-0" style="overflow: auto; white-space:nowrap;">

    <div *ngFor="let category of categories" class="category m-2 p-1 shadow-normal" 
      [class.bg-info]='category == selectedCategory' [class.text-white]='category == selectedCategory' 
      (click)="selectCategory(category)">
        <img src="{{basePath + '/images/' + category.image}}" alt=""> <span>{{category.name}}</span>
    </div>

  </div>

</div>

<div class="card">
  <div class="card-header bg-primary p-1">
    
    <span class="text-white mr-3">
      Items
    </span>

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-small is-fullwidth" type="text" 
          placeholder="Search" [(ngModel)]="searchItemText" 
          (keyup)="searchItem()">
      </div>
      <div class="control">
        <a class="button is-small" (click)="clearItemSearch()">
          x
        </a>
      </div>
    </div>

    <label class="checkbox ml-3">
      <input type="checkbox" [(ngModel)]="orderSerivce.showPopupBeforeAddingItem">
      Show Popup
    </label>

  </div>
  
  <div class="card-body custom-scroll p-0" style="max-height: 50vh; overflow: auto;">

    <div *ngFor="let item of items" class="item m-2 p-1 shadow-normal" 
      (click)="itemClicked(item)">
        <img src="{{basePath + '/images/' + item.image}}" alt=""> <span>{{item.name}}</span>
    </div>

  </div>

</div>

<add-to-order #addToOrderComp
  [item]="selectedItem" 
  [category]="selectedItemCategory" 
  [(isVisible)]="AddToOrderModalVisibility"
  [showAlertOnItemAdd]="false" 
  (itemAddedToOrder)="itemAddedToOrderHandler()">
</add-to-order>