<div class="row">

  <nb-card class="col-md-12">
    <nb-card-header>
      Open Orders
      <button class="float-right" nbButton size="xsmall" [routerLink]="['/pages/orders/create']" >Add New Order</button>
    </nb-card-header>
      <div class="row">
        
        <p *ngIf="openOrders.length == 0" class="text-center col-md-12">No Open Orders</p>
        <div *ngFor="let order of openOrders" class="col-md-3">
          <div class="open-order rounded">
            <p class="text-center"><small>{{order.order_number}}</small></p>
            <hr>
            <small>Type: <b>{{order.order_type_name}}</b></small>
            <br>
            <span class="badge" 
              [class.badge-danger]="isOrderPendingOrPreparing(order)"
              [class.badge-primary]="!isOrderPendingOrPreparing(order)">
              {{order.order_status_name}}
            </span>
            <br>
            <small class="mb-3" *ngIf="order.order_status_idt == 'phone-confirmation-pending'">
              {{order.customer_name}}
              <br>
              Phone: {{order.customer_phone}}
            </small>

            <br><br>
            <small *ngIf="isOrderPendingOrPreparing(order)" class="text-red">Time: <b>{{order | orderPendingTime}}</b> (minutes)</small>

            <br><br>
            <button class="btn btn-xs btn-info btn-block" (click)="openChangeStatusDialog(dialog, order)">Change Status</button>
            <button class="btn btn-xs btn-primary btn-block" [routerLink]="['/pages/orders/'+order.id+'/edit']"  >Edit Order</button>
            <button *ngIf="('cancel-orders' | hasPermission | async)" class="btn btn-xs btn-danger btn-block" (click)="cancelOrder(order)">Cancel Order</button>
            <button class="btn btn-xs btn-primary btn-block" (click)="sendPrintCommand(order.id, null, 'reprint')">Reprint for Kitchen</button>
            <button class="btn btn-xs btn-primary btn-block" (click)="changeOrderStatus(order, 'printed-for-customer')">Print for Customer</button>
            <button *ngIf="('give-discount' | hasPermission | async)" class="btn btn-xs btn-danger btn-block" (click)="showDiscountModal(order)">Give Discount</button>
            <button class="btn btn-xs btn-primary btn-block" (click)="showCloseOrderModal(order)">Close Order</button>
          </div>
        </div>

      </div>
    <nb-card-body>
    </nb-card-body>
  </nb-card>


  <nb-card class="col-md-12">
    <nb-card-header>
      Free Tables
    </nb-card-header>

      <div class="row">
          <p *ngIf="freeTables.length == 0" class="text-center col-md-12">No Free Tables</p>
        <div *ngFor="let table of freeTables" class="col-md-3 text-center free-table">
          <h2>{{table.name}}</h2>
          <small>Floor: {{table.floor}}</small>
        </div>

      </div>

    <nb-card-body>

    </nb-card-body>
  </nb-card>


</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Change Status</nb-card-header>
    <nb-card-body>
      <select class="form-control" #newStatus>
        <option *ngFor="let status of assignableStatuses" 
          value="{{status.idt}}" [selected]="status.idt == data.order_status_idt" >
          {{status.name}}
        </option>
      </select>
      
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-xs btn-danger" (click)="ref.close()">Cancel</button>
      <button class="btn btn-xs btn-primary" (click)="changeOrderStatus(data, newStatus.value)">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<div *ngIf="selectedOrder != null" class="modal" [class.is-active]="isCloseOrderModalVisible">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">Close Order</div>
      <button class="delete" aria-label="close" (click)="isCloseOrderModalVisible = false"></button>
    </header>
    <section class="modal-card-body">
      
      <div class="field">
        <label class="label">Receivable Amount</label>
        <div class="control">
          <div class="input" disabled>{{selectedOrder.receivable_amount}}</div>
          
        </div>
      </div>

      <div class="field">
        <label class="label">Cash Received</label>
        <div class="control">
          <input class="input" type="number" [(ngModel)]="cash_received" >
        </div>
      </div>

      <div class="field">
        <label class="label">Card Received</label>
        <div class="control">
          <input class="input" type="number" [(ngModel)]="card_received" >
        </div>
      </div>

      <div class="field">
        <label class="label">Balance</label>
        <div class="control">
          <div class="input" disabled>{{ (selectedOrder.receivable_amount - cash_received - card_received) * -1 }}</div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary is-fullwidth" (click)="closeOrder()">Close Order</button>
    </footer>
  </div>
</div>


<div *ngIf="selectedOrder != null" class="modal" [class.is-active]="isDiscountModalVisible">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">Give Discount</div>
      <button class="delete" aria-label="close" (click)="isDiscountModalVisible = false"></button>
    </header>
    <section class="modal-card-body">
      
      <div class="field">
        <label class="label">Order Amount Before Discount</label>
        <div class="control">
          <div class="input" disabled>{{ selectedOrder.order_amount_before_discount | number:'0.0-2'}}</div>
          
        </div>
      </div>

      <div class="field">
        <label class="label">Discount (%)</label>
        <div class="control">
          <input class="input" type="number" [(ngModel)]="discount_percent" (change)="setDiscountAmount()" >
        </div>
      </div>

      <div class="field">
        <label class="label">Dicount Amount</label>
        <div class="control">
          <input class="input" type="number" [(ngModel)]="discount_amount" (change)="setDiscountPercent()" >
        </div>
      </div>

      <div class="field">
        <label class="label">Dicount Remarks</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="discount_remarks" >
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Net Amount</label>
        <div class="control">
          <div class="input" disabled>{{ (selectedOrder.receivable_amount + +selectedOrder.discount_amount - discount_amount) | number:'0.0-2' }}</div>
        </div>
      </div> -->

    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary is-fullwidth" (click)="saveDiscount()">Save Discount</button>
    </footer>
  </div>
</div>