<hr>
<p class="title is-4 has-text-centered">Order Tracking</p>

<div class="hero is-small">
  
  <div class="hero-body">

    <div class="field">
      <label class="label has-text-centered">Tracking Number <small>(Enter Tracking Number)</small></label>
      <div class="control">
        <input class="input has-text-centered" type="text" [(ngModel)]="tracking_number" >
      </div>
    </div>

    
    <p class="title is-2 has-text-centered">{{status}}</p>
    <p class="title is-6 has-text-centered">{{statusDescription}}</p>

    

  </div>

  <hr>
  
</div>
